<form>
  <mat-form-field class="search-form-field">
    <input
      type="text"
      matInput
      [matAutocomplete]="auto"
      [formControl]="myControl"
      placeholder="Search"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSearch" >
    Search
  </button>
</form>
